{% load i18n %}
<div class="sequence proctored-exam entrance" data-exam-id="{{ exam_id }}">
    <h3>
        Наблюдаемый экзамен<br>
        <span style="font-size:80%;font-weight:400;color: gray;"><em>(с прокторингом)</em></span>
    </h3>
    <p>
        Для получения зачета по курсу, вы должны пройти контрольное мероприятие с подтверждением личности.
    </p>
    <button class="gated-sequence start-timed-exam action-primary" data-ajax-url="{{ enter_exam_endpoint }}" data-exam-id="{{ exam_id }}" data-attempt-proctored=true data-start-immediately=false>
        Продолжить прохождение наблюдаемого экзамена
        <span class="icon fa fa-arrow-circle-right" aria-hidden="true"></span>
        <p>
            Вам будут предложены пошаговые инструкции по настройке программного обеспечения для онлайн-контроля и проверки вашей личности.
        </p>
    </button>

    {% if allow_proctoring_opt_out %}
        {% include 'proctored_exam/proctoring_opt_out_button.html' %}
    {% endif %}
</div>
{% include 'proctored_exam/confirm-decline.html' %}
{% include 'proctored_exam/footer.html' %}
